*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

.hero{
     height: 100vh;
     background: url('add url here kayo bahala');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}
nav {
     width: 100%;
     padding: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: black;
     position: relative;
     top: 0;
     left: 0;
     z-index: 2;
}
.logo{
     color:#fff;
     font-size: 30px;
     font-weight: bold;
}
.nav-links{
     display: flex;
     gap:30px;
}
.nav-links a{
     color: #fff;
     text-decoration: none;
     transition: 0.3s;
     font-size: 20px;
}
.nav-links a:hover{
     color:#ccc;
}
.hero-content{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50px, -50%);
     text-align: center;
     z-index: 1;
}
.hero-content h1{
     color: #000;
}