*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

.hero{
     height: 100vh;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     border-radius: 5px;
}
nav {
     width: 100%;
     padding: 30px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: black;
     position: relative;
     top: 0;
     left: 0;
     z-index: 2;
}
.logo{
     color:#fff;
     font-size: 30px;
     font-weight: bold;
}
.nav-links{
     display: flex;
     gap:30px;
}
.nav-links a{
     color: #fff;
     text-decoration: none;
     transition: 0.3s;
     font-size: 20px;
}
.nav-links a:hover{
     color:#ccc;
}
main {
     width: 100%;
     max-width: 1300px;
     margin: 50px auto;
     background: rgb(185, 184, 184);
     padding: 30px;
     border-radius: 10px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
     text-align: center;
}
.main-content h1{
     color: #000;
     font-size: 3em;
     margin-bottom: 20px;
     border: 2px;
     padding: 10px;
}
.main-content button{
     padding: 15px 30px;
     font-size: 1em;
     color: #fff;
     background-color: #000;
     border: 2px;
     cursor: pointer;
     transition: background-color 0.3s, transform 0.3s;
     border-radius: 20px;
}
.main-content button:hover{
     background-color: #767171;
     transform: scale(1.1);
}
.image-container{
     margin-top: 20px;
     display: flex;
     justify-content: center;
}
.image-container img{
     max-width: 30%;
     height: auto;
}


